<div class="card">
    <div class="card-body">
      <h4 class="card-title">Table with contextual classes</h4>
      <p class="card-description">
        Add class <code>.table-</code>
      </p>
      <div class="table-responsive pt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                Titre
              </th>
              <th>
                measurment
              </th>
              <th>
                minVolume
              </th>
              <th>
                Stability info
              </th>
              <th>
                description
              </th>
              <th>
                Unite
              </th>
            </tr>
          </thead>

          <tbody>

            <tr class="table-primary">
              <td>
                5
              </td>
              <td>
                Edward
              </td>
              <td>
                Illustrator
              </td>
              <td>
                $ 160.25
              </td>
              <td>
                May 03, 2015
              </td>
              <td>
                May 03, 2015
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>